---
interface Props {
  title: string;
  slug: string;
  description: string;
  pubDate: Date;
}

const { title, slug, description, pubDate } = Astro.props;
const dateIso = pubDate.toISOString();
const dateString = pubDate.toLocaleDateString("en-US", {
  year: "numeric",
  month: "numeric",
  day: "numeric",
});
---

<section class="py-2">
  <h2><a class="link" href={`/posts/${slug}`}>{title}</a></h2>
  <p class="font-semibold">Published on <time datetime={dateIso}>{dateString}</time></p>
  <p>{description}</p>
</section>
