---
import type { CollectionEntry } from "astro:content";

interface Props {
  slug: string;
  frontmatter: CollectionEntry<"posts">["data"];
}

const { slug, frontmatter } = Astro.props;
const dateIso = frontmatter.pubDate.toISOString();
const dateString = frontmatter.pubDate.toLocaleDateString("en-US", {
  year: "numeric",
  month: "numeric",
  day: "numeric",
});
---

<section class="py-2">
  <h2><a class="link" href={`/posts/${slug}`}>{frontmatter.title}</a></h2>
  <p class="font-semibold">
    Published on <time datetime={dateIso}>{dateString}</time>
  </p>
  <p>{frontmatter.description}</p>
</section>
